#contact {
  width: 100%;
  padding: 0;
}

.contact-container {
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

.icon:hover {
  transform: scale(1.08);
}

.contact-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}

.contact-icons a {
  align-content: center;
  justify-content: space-between;
  gap: 10px;
}
